.headTitle{
    margin-left: 10%;
}

.logout{
    margin-left: 10px;
}

.uploadBtn{
    width: 100px; 
    height: 30px;
}



.tableMsg{
    margin-top: 25px;
    margin-left: 9%;
    margin-right: 10%
}